@use '../../styles/variables.scss' as v;

.dashboardParentContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;

    @media #{v.$mq-smallScreen} {
        display: block;
    }
}