@use '../../styles/variables.scss' as v;

.footer {
    background-color: #000;
    color: #f8f8f8;
    padding: 1rem 1.5rem;
    margin-top: 3rem;  // This pushes the footer to the bottom
    width: 100%;
    box-sizing: border-box;

    p {
        margin: 1rem 0;
    }
}